body{
  margin: 0px;
}
h1 {
  font-size: 45px;
  text-align: center;
  border-bottom: gray solid 3px;
  padding:20px;
  margin: 0px;
  display:block;
}
a {
  text-decoration: underline;
}
div ul {
  margin: 0px;
  padding:20px;
  list-style:none;
}
#main_grid {
  display: grid;
  grid-template-columns: 150px 1fr;
}
#main_text{
  border-left: solid 3px gray;
  padding:20px;
}
@media (max-width:800px) {
  #main_grid{
    display:block;
  }
  #main_text{
    border-left:none;
    border-top: solid 3px gray;
  }
}
